*~
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.gz
doc/*.idx
doc/*.log
doc/*.out
doc/*.pdf
doc/*.toc
doc/*.ilg
doc/*.ind
doc/version.tex
doc/*.dvi
tests/.root/local-install
tests/.root/git
tests/.root/builds
tests/.root/.patches
tests/.root/.store
tests/.root/.tar/dltar-src*
tests/scripts.d/[0-9]_*
tests/scripts.d/.pkgs-*
tests/scripts.d/.store
tests/logs
tests/scbi
